/agent-*
/coverage
/covdir
/gopath
/gopath.proto
/release
/bin
*.etcd
*.log
*.swp
/etcd
/hack/insta-discovery/.env
*.coverprofile
*.test
hack/tls-setup/certs
.idea
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*
/vendor
/tests/e2e/default.proxy
*.tmp
*.bak
.DS_Store
.gobincache/
server/vendor
client/v3/vendor
pkg/vendor
tools/mod/vendor
client/pkg/vendor
jobpoolctl/vendor
api/vendor
agent/vendor
agent/agent